.subject-container {
    font-family: 'Quicksand', Arial, sans-serif;

    .subjects {
        margin: 0 0 40px;

        .heading {
            margin: 0 0 16px;
            padding: 12px 20px;
            color: #fff;
            background-color: #7ed957bf;
            box-sizing: border-box;
            font-size: 28px;
            font-weight: bold;
        }

        .row {
            padding: 0 20px;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(6, minmax(0, 1fr));
            gap: 20px;

            .col {
                display: flex;
                justify-content: start;
                align-items: start;

                .card {
                    position: relative;
                    width: 200px;
                    height: 100%;
                    /* border: 2px solid #f99dbc; */
                    box-sizing: border-box;
                    border-radius: 12px;
                    align-items: center;
                    text-align: center;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 260px;
                        border: 2px solid #cccccc80;
                        box-sizing: border-box;
                        border-radius: 20px;
                        object-position: top;
                        /* background-color: #28a745; */
                    }

                    .badge {
                        position: absolute;
                        padding: 2px 8px;
                        color: #fff;
                        font-weight: bold;
                        width: fit-content;
                        box-sizing: border-box;
                        border-radius: 8px 0 0 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        border: 2px solid #ffffff80;
                        border-right: none;

                        &.rating {
                            top: 20px;
                            right: 2px;
                            background-color: #ffd700;
                            text-shadow: 1px 1px 0 #FF9600;

                            i {
                                font-size: 13px;
                            }
                        }

                        &.boughtcount {
                            top: 44px;
                            right: 2px;
                            font-size: 12px;
                            background-color: #28a745;
                            text-shadow: 1px 1px 0 #22913c;
                        }
                    }

                    .name {
                        color: #000;
                        margin: 8px 0 4px;
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .price {
                        margin: 0 0 4px;
                        color: #28a745;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;

                        .bought {
                            padding: 2px 4px;
                            font-size: 10px;
                            color: #fff;
                            background-color: #dc3546;
                            text-shadow: 1px 1px 0 #c02d3c;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1600px) {
        .subjects {
            .row {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }
        }
    }

    @media (max-width: 1400px) {
        .subjects {
            .row {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }

    @media (max-width: 1200px) {
        .subjects {
            .row {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }

    @media (max-width: 940px) {
        .subjects {
            .row {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}