.special-button {
    width: fit-content;
    position: relative;
    user-select: none;

    .grid-card {
        margin: 8px;
        text-align: center;
        align-content: center;
        background-color: #fdd9e5;
        box-shadow: 0px 8px 0px 0px #f99dbc;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.1s ease;
        /* opacity: 0.3; */
    }

    .active {
        margin: 16px 8px 0;
        box-shadow: none;
    }

    .shadow {
        z-index: -1;
        left: 8px;
        position: absolute;
        height: 8px;
        background-color: #f99dbc;
        /* background-color: red; */
        transition: all 0.1s ease;
    }

    .no-shadow {
        height: 0;
    }
}