.navigation-bar-container {
    width: 260px;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 16px;
    border-right: 2px solid #ddd;
    position: fixed !important;
    scrollbar-width: none;
    user-select: none;
    font-family: 'Quicksand', Arial, sans-serif;

    a {
        .logo {
            padding: 24px 16px;
            color: #7ed957;
            font-size: 36px;
            font-weight: bold;
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
            border: 2px solid transparent;
            border-radius: 12px;
            box-sizing: border-box;

            a {
                padding: 14px 16px;
                color: #555;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 16px;
                font-weight: bold;
            }
        }

        .item:hover {
            border: 2px solid #eee;
            background-color: #eee;
        }

        .located,
        .located:hover {
            border: 2px solid #7ed957;
            background-color: #7ed95740;

            a {
                color: #28a745;
            }
        }
    }
}