.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .modal-box {
        width: 400px;
        max-height: 80vh;
        padding: 20px;
        background-color: #eee;
        border-radius: 20px;
        overflow-y: scroll;

        .flex {
            display: flex;
            gap: 20px;
        }

        .image-container {
            width: 100%;
            height: 400px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border: 2px solid #cccccc80;
                box-sizing: border-box;
                border-radius: 20px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .btn-box {
                display: flex;
                justify-content: space-between;
                gap: 12px;
            }
        }
    }
}