.comment-container {
    margin: 0 0 0 40px;

    .questions {
        display: flex;

        .head-block {
            width: 40px;
            height: auto;
            display: flex;
            justify-content: center;

            .vertical-line {
                width: 2px;
                background-color: #ccc;
            }

            .line-full {
                height: auto;
            }
            .line-half {
                height: 10px;
            }

            .horizon-line {
                width: 12px;
                height: 2px;
                background-color: #ccc;
                margin: 8px 0 0;
            }
        }
    }
}