.dailydetail-container {
    width: 360px;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 20px;
    font-family: 'Quicksand', Arial, sans-serif;

    h1 {
        font-size: 24px;
    }

    section {
        padding: 8px 16px;
        border: 2px solid #ddd;
        border-radius: 16px;
        box-sizing: border-box;

        .title {
            font-size: 20px;
            font-weight: bold;
        }

            .quests {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

        .detail {
            display: flex;
        }
    }
}